*{
    margin: auto;
    padding: 0%;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold 14px Arial, Helvetica, sans-serif;
    background-color: black; 
}
.clock{
    border: 2px solid #6b0fc2;
    color: beige;
    padding: 40px;
    border-radius: 20px;
    background-color: #9b447b;
}
#Date{
    font-size: 30px !important;
    text-align: center;
}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 80px;
    gap: 15px;
}